*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
}

body {
    background-color: #eaeaea;
}
/* .navbar {
    background: none !important;
} */
#navbar-flex{
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
}
.carousel-item img{
    max-height: 450px !important;
    border-radius: 15px;
}
.cardRadius {
    border-radius: 10px !important;
}
.media img{
    transition: .3s;

}
.media img:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.1);

}

.bintang{
    color: yellow;
}

/* button */
.cardHover .buttons {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardHover .buttons button {
    width: 47%;
}


.cardHover .col-md-3:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.03);
}
.cardHover .col-md-4 {
    transition: .3s;
}
.cardHover .col-md-4 .card{
    box-shadow: 3px 3px 10px #c7c3c3a2;
    transition: .3s;
}
.cardHover .col-md-4:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.04);
}

.footer {
    min-height: 350px;
}

.footer .footerList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.footerList a {
    margin-bottom: 5px;
    color: #aeaeae;
}

.footerList a:hover {
    color: #eaeaea;
}

.footer .icon {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;

}
.icon a {
    color: #aeaeae;
}
.icon a i {
    font-size: 25px;
}

.icon a:hover {
    transform: scale(1.1);
    transition: .3s;
    color: #eaeaea;
}





/* bagian beli */

.buy-product .product, .buy-product .pembelian{
    background-color: white;
    border-radius: 10px;
}

.items {
    display: flex;
    align-items: center;
}

.items i {
    margin-right: 10px;
}

.stok {
    width: 80%;
    padding-left: 5px;
    box-sizing: border-box;
    color: #007bff;
    border: 1px solid #007bff;
}


/* bagian profile */
.row-profile a{
    color: #333;
    text-decoration: none;
}

.row-profile:hover{
    text-decoration: none;
    background-color: #aeaeae42;
    color: rgba(51, 51, 51, 0.8);
}
 .row-profile:hover a{
     color: rgba(51, 51, 51, 0.8);
 }

.line-active {
    border-right: 5px solid #007bff;
}

.notif{
    background-color: #eaeaea;


}

/* .icon-profile{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #aeaeae;
}
 */



/* media  */
@media only screen and (max-width: 575px) and (max-height: 679px){
    #navbar-search {
        margin-top: 10px;
        flex-direction: column;
        width: 100% !important;
    }
    #logo {
        justify-content: center;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
 
        font-weight: bold;
    }
    #media {
        flex-direction: row !important;
        flex-wrap: nowrap;
    }
    #media .card {

        height: 160px !important;
    }
    #media .card img {
        height: 100px !important;
    }
    #media .card-body h5{
        font-size: 1rem !important;
    }

}